<?xml version="1.0"?>
<ruleset name="WDOD Starter" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/PHPCSStandards/PHP_CodeSniffer/master/phpcs.xsd">
	<description>Coding standards for the WDOD Starter theme.</description>

	<file>.</file>

	<exclude-pattern>*/vendor/*</exclude-pattern>
	<exclude-pattern>*/node_modules/*</exclude-pattern>
	<exclude-pattern>*/assets/dist/*</exclude-pattern>
	<exclude-pattern>*/languages/*</exclude-pattern>

	<arg name="basepath" value="."/>
	<arg name="extensions" value="php"/>
	<arg name="colors"/>
	<arg name="parallel" value="8"/>
	<arg name="cache" value=".phpcs-cache"/>
	<arg value="sp"/>

	<config name="minimum_supported_wp_version" value="6.4"/>
	<config name="testVersion" value="7.4-"/>

	<rule ref="WordPress">
		<!-- Template files legitimately mix PHP and HTML; WooCommerce template override headers are not docblocks. -->
		<exclude name="Squiz.Commenting.FileComment.Missing"/>
		<exclude name="Universal.Arrays.DisallowShortArraySyntax"/>
	</rule>

	<rule ref="WordPress.NamingConventions.PrefixAllGlobals">
		<properties>
			<property name="prefixes" type="array">
				<element value="wdod"/>
				<element value="WDOD_STARTER"/>
			</property>
		</properties>
	</rule>

	<!-- Third-party hooks (WooCommerce template hooks, WPML API filters) cannot carry the theme prefix. -->
	<rule ref="WordPress.NamingConventions.PrefixAllGlobals.NonPrefixedHooknameFound">
		<exclude-pattern>*/woocommerce/*</exclude-pattern>
		<exclude-pattern>*/inc/wpml.php</exclude-pattern>
	</rule>

	<rule ref="WordPress.WP.I18n">
		<properties>
			<property name="text_domain" type="array">
				<element value="wdod-starter"/>
			</property>
		</properties>
	</rule>

	<rule ref="WordPress.Files.FileName">
		<properties>
			<!-- Classic theme templates follow the WP template hierarchy naming, not class-file naming. -->
			<property name="is_theme" value="true"/>
		</properties>
	</rule>

	<rule ref="PHPCompatibilityWP"/>
</ruleset>
